<h2>Über die Tagung</h2>

<p>Vom 05. bis 08. Mai 2016 findet an der RWTH Aachen die 12. oder 13. Medienstudierendetagung statt. Das ist die Bundesfachschaftentagung aller Fachschaften aus dem Bereich Medien- und Kommunikationswissenschaft, Publizistik und Journalismus aller Universitäten und Fachhochschulen aus dem deutschsprachigen Raum. Zur Vorbereitung der Tagung hat die ausrichtende Fachschaft, die <a href="{{site.baseurl}}/gastgeber/fachschaft/">Fachschaft Kommunikationswissenschaft der RWTH Aachen</a> diese Homepage erstellt. Hier sind alle Informationen zur Veranstaltung für Interessierte, Teilnehmer und Sponsoren zusammengefasst.</p>

<p>Unterstützt werden wir bei der Ausrichtung organisatorisch vom <a href="http://www.medienstudierende.eu">Medienstudierende e.V.</a>, dem Förderverein der Medienstudierendentagung.</p>
