<h2>Förderer</h2>

<p>Die Tagung wird maßgeblich ermöglicht durch die Unterstützung des BMBF.</p>
<center><a href="http://www.bmbf.de"><img src="{{site.baseurl}}/img/logos/bmbf.png" alt="bmbf-logo" style="width=360px;height=165px"></a></center>

<h3>Weitere Förderer</h3>
<a href="http://www.medienstudierende.eu"><img src="{{site.baseurl}}/img/logos/mestu.png" alt="mestu-ev-logo" style="width=200px"></a>


<h2>Unser Dank ...</h2>

<p>... gilt vor allem den folgenden Personen und Organisationen: </p>
<ul>
<li>Ingo Sieverdingbeck vom <a class="link" href="https://kif.fsinf.de/wiki/Verein:Hauptseite">KIF e.V.</a> für seine (sehr geduldige) Hilfe bei der Erstellung des Förderantrags.</li>
<li>Lucas Mösch von der <a href="http://www.fset.rwth-aachen.de/">Fachschaft Elektrotechnik & Informationstechnik der RWTH Aachen</a> für die Bereitstellung des Anmelde-Tools.</li>
<li>der Abteilung 10.5 der RWTH Aachen für die (weitgehend) unbürokratische Bereitstellung der Räumlichkeiten.</li>
</ul>


