 <nav>
  <ul class="nav {{include.navclass}}">
   <li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
   <li><a href="{{site.baseurl}}/gastgeber/fachschaft" class="{% if page.url contains '/gastgeber/' %}current{% endif %}">Gastgeber</a></li>
   <li><a href="{{site.baseurl}}/sponsoren/" class="{% if page.url contains '/sponsoren/' %}current{% endif %}">Unterstützer</a></li>
   <li><a href="{{site.baseurl}}/programm/" class="{% if page.url contains '/programm/' %}current{% endif %}">Programm</a></li>
   <li><a href="{{site.baseurl}}/kontakt/fragen" class="{% if page.url contains '/kontakt/' %}current{% endif %}">Kontakt</a></li>
	 <li><a href="{{site.baseurl}}/anmeldung/" class="{% if page.url contains '/anmeldung/' %}current{% endif %}">Anmeldung</a></li>
  </ul>
</nav>
