<!-- <nav class="nav-sec">
<ul>
{%if xxx contains yyy %}<li><a href="{{site.basurl}}/gastgeber/"></li>{% endif %}
</ul>
</nav> -->

<nav>
 <ul class="nav-sec">
  <li><a href="{{site.baseurl}}/programm/ablauf/">Ablaufplan</a></li>
  <li><a href="{{site.baseurl}}/programm/aks/">Arbeitskreise</a></li>
<li><a href="{{site.baseurl}}/programm/programm/">Rahmenprogramm</a></li>
  <li><a href="{{site.baseurl}}/programm/anmeldung/">Anmeldung</a></li>
  <li><a href="{{site.baseurl}}/programm/map/">Raumplan</a></li>
 </ul>
</nav>
