<!-- <nav class="nav-sec">
<ul>
{%if xxx contains yyy %}<li><a href="{{site.basurl}}/kontakt/"></li>{% endif %}
</ul>
</nav> -->

<nav>
 <ul class="nav-sec">
 <li><a href="{{site.baseurl}}/kontakt/" class="{% if page.url contains '/kontakt/index.html' %}current{% endif %}">Kontakt</a></li>
 <li><a href="{{site.baseurl}}/kontakt/anreise/" class="{% if page.url contains '/anreise' %}current{% endif %}">Anreise</a></li>
 <li><a href="{{site.baseurl}}/kontakt/impressum/" class="{% if page.url contains '/impressum' %}current{% endif %}">Impressum</a></li>
 </ul>
</nav>
