<!-- <nav class="nav-sec">
<ul>
{%if xxx contains yyy %}<li><a href="{{site.basurl}}/gastgeber/"></li>{% endif %}
</ul>
</nav> -->

<nav>
 <ul class="nav-sec">
  <li><a href="{{site.baseurl}}/programm/ablauf/" class="{% if page.url contains '/ablauf/' %}current{% endif %}">Ablaufplan</a></li>
  <li><a href="{{site.baseurl}}/programm/aks/" class="{% if page.url contains '/aks/' %}current{% endif %}">Arbeitskreise</a></li>
<li><a href="{{site.baseurl}}/programm/programm/" class="{% if page.url contains '/programm/programm/' %}current{% endif %}">Rahmenprogramm</a></li>
  <li><a href="{{site.baseurl}}/programm/map/" class="{% if page.url contains '/map/' %}current{% endif %}">Raumplan</a></li>
 </ul>
</nav>
