<h2>Sponsorengesuch</h2>

<p>Für unsere Tagung suchen wir noch tatkräftige Unterstützer. Vielleicht ist unsere Zielgruppe auch für Ihr Unternehmen interessant.</p>

<p>Die Kernthemen unserer Tagung sind:</p>
<ul> 
	<li>Unternehmenskommunikation/Öffentlichkeitsarbeit (extern/intern)</li>
	<li>Pressearbeit</li>
	<li>Personalkommunikation</li>
	<li>mediale Kontexte im Unternehmen</li>
	<li>Markenkommunikation</li>
</ul>

<p>Wir würden uns über Unterstützung Ihres Unternehmens freuen.</p> 
<p>Sollten Sie daran interessiert sein uns mit Finanzmitteln zu unterstützen könnten wir Ihnen als Gegenleistung anbieten zum einen Ihre Stellenangebote prominent zu platzieren und zu promoten. Mit steigender Beteiligung ist auch ein Platz mit einem Promotionstand denkbar bis hin zu einem eigenen Vortrag im Rahmen der Tagung. Sollten Sie uns bspw. lieber mit Sachmitteln unterstützen wollen, rechnen wir mit der Teilnahme von etwa 70 Personen.</p>

Bei weiteren Fragen, wenden Sie sich bitte an <a href="mailto:lsternberg@fskowi.rwth-aachen.de">Lea Sternberg</a>.

Vielen Dank und auf eine gute Zusammenarbeit

