* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background-image: url('../img/extra_clean_paper.png')
}

html {
 margin: 0;
 padding: 0;
 font: normal 100%/1.4 'Merriweather Sans', serif;
}

p {
 	font-family: 'Merriweather Sans', sans-serif;
	text-align: justify;
}

a {
 	font-family: 'Merriweather Sans', sans-serif;
 text-decoration: none;
color: #00909B;
&:hover{text-decoration: none;}
}

footer {
  margin: 0;
  padding: 0; 
  background-color: #00909B;
  color: #fff;
  width: 100%;
  bottom: 0;
}
