<!DOCTYPE html>
<html lang="de_DE">
<head>
 <meta charset="utf8">
 <title>Medienstudierendentagung in Aachen</title>
</head>
<body>

<header>
<h1>Medienstudierendentagung in Aachen</h1>
 <nav>
  <ul>
   <li><a href="{{site.baseurl}}/index.html">Home</a></li>
   <li><a href="{{site.baseurl}}/gastgeber.html">Gastgeber</a></li>
   <li><a href="{{site.baseurl}}/sponsoren.html">Unterstützer</a></li>
   <li><a href="{{site.baseurl}}/programm.html">Programm</a></li>
   <li><a href="{{site.baseurl}}/kontakt.html">Kontakt</a></li>
  </ul>
</nav>
</header>

{{content}}

<footer>
FS Kowi RWTH Aachen
</footer>

</body>
</html>
