---
layout: default
---


<section>
<div class="grid">

<div class="unit w-3-4" id="content-nav">
<article>
{{content}}
<article>
</div>
<aside>
<div class="unit w-1-5" id="nav">
{% if page.url contains '/gastgeber/' %}{% include sec-gast.html %}{% endif %}
{% if page.url contains '/kontakt/' %}{% include sec-kontakt.html %}{% endif %}
{% if page.url contains '/programm/' %}{% include sec-programm.html %}{% endif %}

</div>
{% if page.url contains '/aks/' %}
<div class="unit w-1-5" id="nav">
{% include ter-aks.html %}
</div>
{% endif %}
{% if page.url contains '/ablauf/' %}
<div class="unit w-1-5" id="nav">
{% include ter-ablauf.html %}
</div>
{% endif %}
</aside>
</div>
</section>
